<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <!-- This example requires Tailwind CSS v2.0+ -->
  <div class="py-5 border-b border-gray-200">
    <p class="leading-6 text-xs tracking-widest text-gray-400">MARKET BRIEFING</p>
    <h1 class="text-3xl leading-6 font-medium text-gray-900">Today's market briefing</h1>
  </div>

  <!-- <div class="h-6 pt-10 grid grid-rows-10 grid-flow-col gap-1" *ngFor="let symbols of SYMBOL_CODES"> -->
    <div class="h-6 pt-10 grid grid-rows-10 grid-flow-col gap-1">
    <span class="bg-gray-200">
      <p class=" font-bold">BNGO</p>
      <p>Bionamo Genomics Inc.</p>
      
      <p class="font-bold text-right pr-1 pt-10">1.39</p>
      <p class="text-xs text-right pr-1 text-green-300">+57.20</p>
    </span>
    <span class="bg-gray-200">
      <p class=" font-bold">BNGO</p>
      <p>Bionamo Genomics Inc.</p>
    </span>
    <span class="bg-gray-200">
      <p class=" font-bold">BNGO</p>
      <p>Bionamo Genomics Inc.</p>
    </span>
    <span class="bg-gray-200">
      <p class=" font-bold">BNGO</p>
      <p>Bionamo Genomics Inc.</p>
    </span>
    <span class="bg-gray-200">
      <p class=" font-bold">BNGO</p>
      <p>Bionamo Genomics Inc.</p>
    </span>
    <span class="bg-gray-200">
      <p class=" font-bold">BNGO</p>
      <p>Bionamo Genomics Inc.</p>
    </span>
    <span class="bg-gray-200">
      <p class=" font-bold">BNGO</p>
      <p>Bionamo Genomics Inc.</p>
    </span>
    <span class="bg-gray-200">
      <p class=" font-bold">BNGO</p>
      <p>Bionamo Genomics Inc.</p>
    </span>
    <span class="bg-gray-200">
      <p class=" font-bold">BNGO</p>
      <p>Bionamo Genomics Inc.</p>
    </span>
    <span class="bg-gray-200">
      <p class=" font-bold">BNGO</p>
      <p>Bionamo Genomics Inc.</p>
    </span>
  </div>

</div>